-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'CONTADOR', 'OPERADOR');

-- CreateEnum
CREATE TYPE "SyncStatus" AS ENUM ('PENDING', 'RUNNING', 'SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('LOGIN', 'EXPORT', 'SYNC');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Company" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Company_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserCompanyRole" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "role" "Role" NOT NULL,

    CONSTRAINT "UserCompanyRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TinyConnection" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "accessTokenEnc" TEXT NOT NULL,
    "refreshTokenEnc" TEXT NOT NULL,
    "tokenType" TEXT,
    "scope" TEXT,
    "expiresAt" TIMESTAMP(3),
    "accountId" TEXT,
    "accountName" TEXT,
    "tokenMeta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TinyConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncRun" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "status" "SyncStatus" NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finishedAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "stats" JSONB,
    "triggeredByUserId" TEXT,

    CONSTRAINT "SyncRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncCursor" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "lastSyncedAt" TIMESTAMP(3),
    "cursor" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SyncCursor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "actorUserId" TEXT,
    "companyId" TEXT,
    "action" "AuditAction" NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RawPayload" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "externalId" TEXT,
    "payload" JSONB NOT NULL,
    "receivedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RawPayload_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_vendas" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "DataHora" TIMESTAMPTZ(6) NOT NULL,
    "Produto" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "Quantidade" DECIMAL(18,4) NOT NULL,
    "Valor_Unitario" DECIMAL(18,2) NOT NULL,
    "Valor_Total" DECIMAL(18,2) NOT NULL,
    "Forma_Pagamento" TEXT NOT NULL,
    "Vendedor" TEXT,
    "Cliente" TEXT,
    "CNPJ_Cliente" TEXT NOT NULL,
    "Caixa" TEXT NOT NULL,
    "Status" TEXT NOT NULL,

    CONSTRAINT "vw_vendas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_contas_receber_posicao" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "ID_Titulo" BIGINT NOT NULL,
    "Cliente" TEXT NOT NULL,
    "CNPJ" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "CentroCusto" TEXT,
    "Data_Emissao" DATE NOT NULL,
    "Data_Vencimento" DATE NOT NULL,
    "Valor" DECIMAL(18,2) NOT NULL,
    "Data_Posicao" DATE NOT NULL,

    CONSTRAINT "vw_contas_receber_posicao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_contas_pagar" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "ID_Titulo" BIGINT NOT NULL,
    "Fornecedor" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "CentroCusto" TEXT,
    "Data_Emissao" DATE NOT NULL,
    "Data_Vencimento" DATE NOT NULL,
    "Valor" DECIMAL(18,2) NOT NULL,
    "Status" TEXT NOT NULL,
    "FormaPagto" TEXT,

    CONSTRAINT "vw_contas_pagar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_contas_pagas" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "ID_Titulo" BIGINT NOT NULL,
    "Fornecedor" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "CentroCusto" TEXT,
    "Data_Emissao" DATE NOT NULL,
    "Data_Vencimento" DATE NOT NULL,
    "Data_Pagamento" DATE NOT NULL,
    "Valor_Titulo" DECIMAL(18,2) NOT NULL,
    "Valor_Pago" DECIMAL(18,2) NOT NULL,
    "Desconto" DECIMAL(18,2) NOT NULL,
    "Juros" DECIMAL(18,2) NOT NULL,
    "Multa" DECIMAL(18,2) NOT NULL,
    "Conta_Bancaria" TEXT NOT NULL,
    "Forma_Pagamento" TEXT NOT NULL,
    "Usuario_Baixa" TEXT,
    "Status" TEXT NOT NULL,

    CONSTRAINT "vw_contas_pagas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_estoque" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "Data_Referencia" DATE NOT NULL,
    "Produto" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "Unidade_Medida" TEXT NOT NULL,
    "Estoque_Inicial" DECIMAL(18,2) NOT NULL,
    "Entradas" DECIMAL(18,2) NOT NULL,
    "Saidas" DECIMAL(18,2) NOT NULL,
    "Ajustes" DECIMAL(18,2) NOT NULL,
    "Estoque_Final" DECIMAL(18,2) NOT NULL,
    "Custo_Medio" DECIMAL(18,4) NOT NULL,
    "Valor_Total_Estoque" DECIMAL(18,2) NOT NULL,
    "Fornecedor_Ultima_Compra" TEXT NOT NULL,
    "Data_Ultima_Compra" DATE NOT NULL,
    "Responsavel_Conferencia" TEXT NOT NULL,
    "Observacao" TEXT NOT NULL,

    CONSTRAINT "vw_estoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vw_contas_recebidas" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "ID_Titulo" BIGINT NOT NULL,
    "Cliente" TEXT NOT NULL,
    "CNPJ_CPF" TEXT NOT NULL,
    "Categoria" TEXT NOT NULL,
    "CentroCusto" TEXT,
    "Data_Emissao" DATE NOT NULL,
    "Data_Vencimento" DATE NOT NULL,
    "Data_Recebimento" DATE NOT NULL,
    "Valor_Titulo" DECIMAL(18,2) NOT NULL,
    "Valor_Recebido" DECIMAL(18,2) NOT NULL,
    "Desconto" DECIMAL(18,2) NOT NULL,
    "Juros" DECIMAL(18,2) NOT NULL,
    "Multa" DECIMAL(18,2) NOT NULL,
    "Comissao_cartao" DECIMAL(18,2) NOT NULL,
    "Comissao_mktplaces" DECIMAL(18,2) NOT NULL,
    "Conta_Bancaria" TEXT NOT NULL,
    "Forma_Recebimento" TEXT NOT NULL,
    "Usuario_Baixa" TEXT,
    "Status" TEXT NOT NULL,

    CONSTRAINT "vw_contas_recebidas_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "UserCompanyRole_companyId_idx" ON "UserCompanyRole"("companyId");

-- CreateIndex
CREATE INDEX "UserCompanyRole_role_idx" ON "UserCompanyRole"("role");

-- CreateIndex
CREATE UNIQUE INDEX "UserCompanyRole_userId_companyId_key" ON "UserCompanyRole"("userId", "companyId");

-- CreateIndex
CREATE INDEX "TinyConnection_companyId_idx" ON "TinyConnection"("companyId");

-- CreateIndex
CREATE INDEX "SyncRun_companyId_startedAt_idx" ON "SyncRun"("companyId", "startedAt");

-- CreateIndex
CREATE INDEX "SyncRun_status_idx" ON "SyncRun"("status");

-- CreateIndex
CREATE UNIQUE INDEX "SyncCursor_companyId_module_key" ON "SyncCursor"("companyId", "module");

-- CreateIndex
CREATE INDEX "AuditLog_companyId_createdAt_idx" ON "AuditLog"("companyId", "createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_actorUserId_createdAt_idx" ON "AuditLog"("actorUserId", "createdAt");

-- CreateIndex
CREATE INDEX "RawPayload_companyId_module_idx" ON "RawPayload"("companyId", "module");

-- CreateIndex
CREATE INDEX "RawPayload_companyId_receivedAt_idx" ON "RawPayload"("companyId", "receivedAt");

-- CreateIndex
CREATE INDEX "vw_vendas_companyId_DataHora_idx" ON "vw_vendas"("companyId", "DataHora");

-- CreateIndex
CREATE INDEX "vw_vendas_companyId_Status_idx" ON "vw_vendas"("companyId", "Status");

-- CreateIndex
CREATE INDEX "vw_contas_receber_posicao_companyId_Data_Posicao_idx" ON "vw_contas_receber_posicao"("companyId", "Data_Posicao");

-- CreateIndex
CREATE INDEX "vw_contas_receber_posicao_companyId_Data_Vencimento_idx" ON "vw_contas_receber_posicao"("companyId", "Data_Vencimento");

-- CreateIndex
CREATE INDEX "vw_contas_pagar_companyId_Data_Vencimento_idx" ON "vw_contas_pagar"("companyId", "Data_Vencimento");

-- CreateIndex
CREATE INDEX "vw_contas_pagar_companyId_Status_idx" ON "vw_contas_pagar"("companyId", "Status");

-- CreateIndex
CREATE INDEX "vw_contas_pagas_companyId_Data_Pagamento_idx" ON "vw_contas_pagas"("companyId", "Data_Pagamento");

-- CreateIndex
CREATE INDEX "vw_contas_pagas_companyId_Status_idx" ON "vw_contas_pagas"("companyId", "Status");

-- CreateIndex
CREATE INDEX "vw_estoque_companyId_Data_Referencia_idx" ON "vw_estoque"("companyId", "Data_Referencia");

-- CreateIndex
CREATE INDEX "vw_estoque_companyId_Produto_idx" ON "vw_estoque"("companyId", "Produto");

-- CreateIndex
CREATE INDEX "vw_contas_recebidas_companyId_Data_Recebimento_idx" ON "vw_contas_recebidas"("companyId", "Data_Recebimento");

-- CreateIndex
CREATE INDEX "vw_contas_recebidas_companyId_Status_idx" ON "vw_contas_recebidas"("companyId", "Status");

-- AddForeignKey
ALTER TABLE "UserCompanyRole" ADD CONSTRAINT "UserCompanyRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserCompanyRole" ADD CONSTRAINT "UserCompanyRole_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TinyConnection" ADD CONSTRAINT "TinyConnection_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SyncRun" ADD CONSTRAINT "SyncRun_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SyncRun" ADD CONSTRAINT "SyncRun_triggeredByUserId_fkey" FOREIGN KEY ("triggeredByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SyncCursor" ADD CONSTRAINT "SyncCursor_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RawPayload" ADD CONSTRAINT "RawPayload_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_vendas" ADD CONSTRAINT "vw_vendas_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_contas_receber_posicao" ADD CONSTRAINT "vw_contas_receber_posicao_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_contas_pagar" ADD CONSTRAINT "vw_contas_pagar_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_contas_pagas" ADD CONSTRAINT "vw_contas_pagas_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_estoque" ADD CONSTRAINT "vw_estoque_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vw_contas_recebidas" ADD CONSTRAINT "vw_contas_recebidas_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

